---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/equivalent/reading-log/compare/0348b915790de426aacbcd4a1094f9a80f1a8fc3...0c3ac7d2148299252fa3ef39c5f20f8b3a95c981
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1446927347'
      Last-Modified:
      - Mon, 05 Oct 2015 13:51:12 GMT
      Etag:
      - W/"34ab30e842419e7bc912c143e2db629e"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/equivalent/reading-log/compare/0348b915790de426aacbcd4a1094f9a80f1a8fc3...0c3ac7d2148299252fa3ef39c5f20f8b3a95c981","html_url":"https://github.com/equivalent/reading-log/compare/0348b915790de426aacbcd4a1094f9a80f1a8fc3...0c3ac7d2148299252fa3ef39c5f20f8b3a95c981","permalink_url":"https://github.com/equivalent/reading-log/compare/equivalent:0348b91...equivalent:0c3ac7d","diff_url":"https://github.com/equivalent/reading-log/compare/0348b915790de426aacbcd4a1094f9a80f1a8fc3...0c3ac7d2148299252fa3ef39c5f20f8b3a95c981.diff","patch_url":"https://github.com/equivalent/reading-log/compare/0348b915790de426aacbcd4a1094f9a80f1a8fc3...0c3ac7d2148299252fa3ef39c5f20f8b3a95c981.patch","base_commit":{"sha":"0348b915790de426aacbcd4a1094f9a80f1a8fc3","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-05T09:09:18Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-05T09:09:18Z"},"message":"gitflow","tree":{"sha":"9cbf50e74db5c10f2067197d09df2be32414e6d3","url":"https://api.github.com/repos/equivalent/reading-log/git/trees/9cbf50e74db5c10f2067197d09df2be32414e6d3"},"url":"https://api.github.com/repos/equivalent/reading-log/git/commits/0348b915790de426aacbcd4a1094f9a80f1a8fc3","comment_count":0},"url":"https://api.github.com/repos/equivalent/reading-log/commits/0348b915790de426aacbcd4a1094f9a80f1a8fc3","html_url":"https://github.com/equivalent/reading-log/commit/0348b915790de426aacbcd4a1094f9a80f1a8fc3","comments_url":"https://api.github.com/repos/equivalent/reading-log/commits/0348b915790de426aacbcd4a1094f9a80f1a8fc3/comments","author":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"committer":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"parents":[{"sha":"b36eee8303f5350d2ebdbdfc439816b2c36bc1d1","url":"https://api.github.com/repos/equivalent/reading-log/commits/b36eee8303f5350d2ebdbdfc439816b2c36bc1d1","html_url":"https://github.com/equivalent/reading-log/commit/b36eee8303f5350d2ebdbdfc439816b2c36bc1d1"}]},"merge_base_commit":{"sha":"0348b915790de426aacbcd4a1094f9a80f1a8fc3","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-05T09:09:18Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-05T09:09:18Z"},"message":"gitflow","tree":{"sha":"9cbf50e74db5c10f2067197d09df2be32414e6d3","url":"https://api.github.com/repos/equivalent/reading-log/git/trees/9cbf50e74db5c10f2067197d09df2be32414e6d3"},"url":"https://api.github.com/repos/equivalent/rea[...]
