---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/had-read/reading-log/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1446921518'
      Last-Modified:
      - Tue, 18 Nov 2014 19:21:19 GMT
      Etag:
      - W/"8bed533d86f7a037b52760b2ced21f7b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"419350cfa751825c9c253a3a0ff215df4a809e25","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2014-11-18T19:21:19Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2014-11-18T19:21:19Z"},"message":"demo
        articles","tree":{"sha":"9787fd9febcb2ef4af610fd6c3e59ced7458129f","url":"https://api.github.com/repos/had-read/reading-log/git/trees/9787fd9febcb2ef4af610fd6c3e59ced7458129f"},"url":"https://api.github.com/repos/had-read/reading-log/git/commits/419350cfa751825c9c253a3a0ff215df4a809e25","comment_count":0},"url":"https://api.github.com/repos/had-read/reading-log/commits/419350cfa751825c9c253a3a0ff215df4a809e25","html_url":"https://github.com/had-read/reading-log/commit/419350cfa751825c9c253a3a0ff215df4a809e25","comments_url":"https://api.github.com/repos/had-read/reading-log/commits/419350cfa751825c9c253a3a0ff215df4a809e25/comments","author":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"committer":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"parents":[{"sha":"cdd7aacc9cdd1021083dc39dc2810fc3bc9cacac","url":"https://api.github.com/repos/had-read/reading-log/commits/cdd7aacc9cdd1021083dc39dc2810fc3bc9cacac","html_url":"https://github.com/had-read/reading-log/commit/cdd7aacc9cdd1021083dc39dc2810fc3bc9cacac"}]},{"sha":"cdd7aacc9cdd1021083dc39dc2810fc3bc9cacac","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2014-11-18T19:20:47Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"[...]
