---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/equivalent/reading-log/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1446921518'
      Last-Modified:
      - Wed, 04 Nov 2015 08:12:44 GMT
      Etag:
      - W/"dfa1f40aa799835dc00a06bac56cdbf7"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/26825942/commits?page=2>; rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"d7812cad66d725b43c0a362f2fd318487bbb1cae","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-11-04T08:12:44Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-11-04T08:12:44Z"},"message":"Update
        reading-log.md","tree":{"sha":"330785bd6e55bf0078fd64b690d1fe08646497c0","url":"https://api.github.com/repos/equivalent/reading-log/git/trees/330785bd6e55bf0078fd64b690d1fe08646497c0"},"url":"https://api.github.com/repos/equivalent/reading-log/git/commits/d7812cad66d725b43c0a362f2fd318487bbb1cae","comment_count":0},"url":"https://api.github.com/repos/equivalent/reading-log/commits/d7812cad66d725b43c0a362f2fd318487bbb1cae","html_url":"https://github.com/equivalent/reading-log/commit/d7812cad66d725b43c0a362f2fd318487bbb1cae","comments_url":"https://api.github.com/repos/equivalent/reading-log/commits/d7812cad66d725b43c0a362f2fd318487bbb1cae/comments","author":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"committer":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"parents":[{"sha":"867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9","url":"https://api.github.com/repos/equivalent/reading-log/commits/867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9","html_url":"https://github.com/equivalent/reading-log/commit/867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9"}]},{"sha":"867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-30T21:33:52Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","dat[...]
