---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/equivalent/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1446887750'
      Etag:
      - W/"af4656894ddc1308ec359e968059b1cc"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/721990/repos?page=2>; rel="next", <https://api.github.com/user/721990/repos?page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":43839994,"name":"a-maze-ing","full_name":"equivalent/a-maze-ing","owner":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/equivalent/a-maze-ing","description":"Example
        Rails Maze App ","fork":false,"url":"https://api.github.com/repos/equivalent/a-maze-ing","forks_url":"https://api.github.com/repos/equivalent/a-maze-ing/forks","keys_url":"https://api.github.com/repos/equivalent/a-maze-ing/keys{/key_id}","collaborators_url":"https://api.github.com/repos/equivalent/a-maze-ing/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/equivalent/a-maze-ing/teams","hooks_url":"https://api.github.com/repos/equivalent/a-maze-ing/hooks","issue_events_url":"https://api.github.com/repos/equivalent/a-maze-ing/issues/events{/number}","events_url":"https://api.github.com/repos/equivalent/a-maze-ing/events","assignees_url":"https://api.github.com/repos/equivalent/a-maze-ing/assignees{/user}","branches_url":"https://api.github.com/repos/equivalent/a-maze-ing/branches{/branch}","tags_url":"https://api.github.com/repos/equivalent/a-maze-ing/tags","blobs_url":"https://api.github.com/repos/equivalent/a-maze-ing/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/equivalent/a-maze-ing/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/equivalent/a-maze-ing/git/refs{/sha}","trees_url":"https://api.github.com/repos/equivalent/a-maze-ing/git/trees{/sha}","statuses_url":"https://api.github.com/repos/equivalent/a-maze-ing/statuses/{sha}","languages_url":"https://api.github.com/repos/equivalent/a-maze-ing/languages","stargazers_url":"https://api.github.com/repos/equivalent/a-maze-ing/stargazers","contributors_url":"https://api.github.com/repos/equivalent/a-maze-ing/contributors","subscribers_url":"https://api.github.com/repos/equivalent/a-maze-ing/subscribers","subscription_url":"https://api.github.com/repos/equivalent/a-maze-ing/subscription","commits_url":"https://api.github.com/repos/equivalent/a-maze-ing/commits{/sha}","git_commits_url":"https://api.github.com/repos/equivalent/a-maze-ing/git/commits{/sha}","comments_url":"https://api.github.com/repos/equivalent/a-maze-ing/comments{/number}","issue_comment_url":"https://api.github.com/repos/equivalent/a-maze-ing/issues/comments{/number}","contents_url":"https://api.github.com/repos/equivalent/a-maze-ing/contents/{+path}","compare_url":"https://api.github.com/repos/equivalent/a-maze-ing/compare/{base}...{head}","merges_url":"https://api.github.com/repos/equivalent/a-maze-ing/merges","archive_url":"https://api.github.com/repos/equivalent/a-maze-ing/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/equivalent/a-maze-ing/downloads","issues_url":"https://api.github.com/repos/equivalent/a-maze-ing/issues{/number}","pulls_url":"https://api.github.com/repos/equivalent/a-maze-ing/pulls{/number}","milestones_url":"https://api.github.com/repos/equivalent/a-maze-ing/milestones{/number}","notifications_url":"https://api.github.com/repos/equivalent/a-maze-ing/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/equivalent/a-maze-ing/labels{/name}","releases_url":"https://api.github.com/repos/equivalent/a-maze-ing/releases{/id}","created_at":"2015-10-07T19:29:54Z","updated_at":"2015-10-07T19:30:18Z","pushed_at":"2015-10-18T16:35:09Z","git_url":"git://github.com/equivalent/a-maze-ing.git","ssh_url":"git@github.com:equivalent/a-maze-ing.git","clone_url":"https://github.com/equivalent/a-maze-ing.git","svn_url":"https://github.com/equivalent/a-maze-ing","homepage":null,"size":264,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":33541763,"name":"algorithms","full_name":"equivalent/algorithms","owner":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/g[...]
- request:
    method: get
    uri: https://api.github.com/user/721990/repos?page=2&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1446887750'
      Etag:
      - W/"3c107b8bc5af6474653e1165d4bc16[...]
